<form>
  <!-- タイトル入力エリア -->
  <div class="form-group">
    <label>タイトル</label>
    <input type="text" class="form-control" placeholder="タイトル">
  </div>
  <!-- 投稿（text)入力エリア -->
  <div class="form-group">
    <label>投稿内容</label>
    <textarea class="form-control" placeholder="内容を書きましょう"></textarea> 
  </div>
  <!-- ファイルアップロード -->
  <div class="form-group">
    <label>画像を添付</label>
    <input type="file">
  </div>
  <!-- 送信ボタン -->
  <button type="submit" class="btn btn-default">投稿する</button>
</form>